{
  "כל המוצרים": "لجميع المنتجات",
  "גומי": "غامي",
  "ויטמינים ומינרלים": "فيتامينات ومعادن",
  "טכנולוגיה ליפוזומלית": "تقنية ليبوزومية",
  "פורמולות": "تركيبات",
  "ערכות מוכנות": "مجموعات جاهزة"
}
